APPWRITE_ENDPOINT=https://fra.cloud.appwrite.io/v1
APPWRITE_PROJECT_ID=69bd18070024c5972335
APPWRITE_API_KEY=replace_with_server_api_key
APPWRITE_DATABASE_ID=69bd2756000e68e1a1df
APPWRITE_DATABASE_NAME=swam_mis

APPWRITE_COLLECTION_USERS=users
APPWRITE_COLLECTION_STUDENTS=students
APPWRITE_COLLECTION_CLASSES=classes
APPWRITE_COLLECTION_SUBJECTS=subjects
APPWRITE_COLLECTION_GRADES=grades
APPWRITE_COLLECTION_ATTENDANCE=attendance
APPWRITE_COLLECTION_FEES=fees
APPWRITE_COLLECTION_FEE_PAYMENTS=fee_payments
APPWRITE_COLLECTION_WELLBEING=wellbeing_reports
APPWRITE_COLLECTION_BEHAVIOR=behavior_records
APPWRITE_COLLECTION_MESSAGES=messages
APPWRITE_COLLECTION_ANNOUNCEMENTS=announcements
APPWRITE_COLLECTION_NOTIFICATIONS=notifications
APPWRITE_COLLECTION_ALERTS=alerts
APPWRITE_COLLECTION_EVENTS=events

APPWRITE_BOOTSTRAP_PASSWORD=password123
